/*========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;700;900&display=swap');
/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  --line-height: 5rem;
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 60;
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --first-color-darker: hsl(var(--hue-color), 52%, 52%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 20%, 90%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --contrast-color:  #FFF;
  --non-contrast-color:  #000;
  --container-color: hsl(var(--hue-color), 60%, 60%);
  --container-color2:hsl(var(--hue-color), 40%, 40%);
  --skill-container-color: hsl(var(--hue-color), 80%, 30%);
  --skill-container-color2:hsl(var(--hue-color), 60%, 35%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  /*========== Font and typography ==========*/
  --body-font: 'Source Code Pro', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 100;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  /* HSL color mode */
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-darker: hsl(var(--hue-color), 92%, 15%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 20%, 40%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 30%, 85%);
  --contrast-color:  #000;
  --non-contrast-color:  #FFF;
  --container-color: hsl(var(--hue-color), 60%, 60%);
  --container-color2:hsl(var(--hue-color), 90%, 90%);
  --skill-container-color: #FFF;
  --skill-container-color2:hsl(var(--hue-color), 90%, 90%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;

}

a {
  text-decoration: none;

}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 10px;
}

.highlight {
  color: var(--contrast-color);
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}


.nav__link:hover {
  color: var(--first-color);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__title {
  font-size: var(--h1-font-size);
  color: var(--first-color-darker);
}

.home__content {
  grid-template-columns: .5fr 3fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.9rem;
  padding-right: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-lighter);
}

.home__data {
  grid-column: 1/3;
}

.home__img {
  width: 1000px;
  border: 5px solid var(--first-color);
  border-radius: .5rem;
  justify-self: center;
  align-self: center;
  max-width: 100%;
  height: auto;
}

.home__img:hover {
  border: 5px solid var(--first-color-lighter);
  box-shadow: 0 5px 10px var(--contrast-color);

}
.home__description {
  text-align: left;
  margin-bottom: var(--mb-2-5);
  font-size: var(--normal-font-size);

}

.home__buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-1);
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  color:  #000;
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--first-color);
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-lighter);
}

.button--document {
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--small {
  padding: .75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*==================== SKILLS ====================*/
.skills_container{
  row-gap: 2rem;
  align-items: center;
  text-align: center;
}

.skills_name{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 1.2rem 1.2rem;
  background-color: var(--first-color);
  border-radius: 1rem;
  color: #000;
}

.skills_name:hover{
  background-color: var(--first-color);
  color: #000;

}

/*==================== EXPERIENCE ====================*/
.experience_content{
  display: flex;
  padding-right: 25%;
}

.experience_time{
  padding-right: 1rem;
  align-items: center;
  padding-left: 2rem;
}

.logo_square{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--first-color);
  margin-top: .25rem;
}

.experience_line{
  display: block;
  width: 2px;
  height: 85%;
  background-color: var(--first-color);
  transform: translate(25px, 0);
}

.experience_data{
  gap: .5rem;
}

.experience_description{
  color: var(--first-color-darker);
  font-size: var(--normal-font-size);
}

.experience_title{
  font-size: var(--h2-font-size);
}

.icon__calendar {
  font-size: var(--smaller-font-size);
  color: var(#000);
  line-height: 3;

}

/*==================== PROJECTS ====================*/
.services__container {
  gap: 1.5rem;
  display: block;
  grid-template-columns: repeat(2, 1fr);
}

.services__content {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem .5rem 1.25rem 1.5rem;
  margin-top: 15px;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: .3s;
  overflow: hidden;
}

.services__content:hover {
  box-shadow: 0 10px 20px var(--contrast-color);
}

.services__icon {
  display: block;
  font-size: 2rem;
  color: var(--non-contrast-color);
}


.services__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--contrast-color);
  margin-bottom: 10px;
  margin-top: -10px;
  padding-top: -10px;
}

.services__button {
  cursor: pointer;
  font-size: var(--small-font-size);
  padding-top: 5px;
  color: #000;
}

.services__button:hover .button__icon {
  transform: translateX(0.25rem);
}

.project_description{
  color: var(--non-contrast-color);
  font-size: var(--normal-font-size);
}

.project_final_description{
  color: var(--non-contrast-color);
  text-align: center;
  font-size: var(--h3-font-size);
}

.project_button{
  color: var(--text-color);
}

/*==================== FOOTER ====================*/
footer{
  justify-content: center;
  text-align: center;
}
.cl1{
  justify-content: center;
  text-align: center;
}
.footer {
  padding-top: 1rem;
  padding-bottom: 0.25rem;

}

.footer__container {
  row-gap: 1.5rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  border-radius: 1rem;
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
  align-items: flex-end;
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__title, .footer__social {
  color: #FFF;
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #FFF;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: .60rem;
  border-radius: .5rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__description {
    color: var(--first-color-darker);

  }
  .nav__menu {
    padding: 2rem .25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__content {
    grid-template-columns: .25fr 3fr 3fr;
  }
  .skills_container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }
  .experience_time{
    padding-right: 1rem;
    align-items: center;
    margin-left: 10rem;
    margin-right: 0%;
  }
  .experience_line{
	display: block;
	width: 2px;
	height: 100%;
	background-color: var(--first-color);
	transform: translate(7px, 0);
	margin-left: 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__description {
    color: var(--first-color-darker);
  }
  .home__data {
    grid-column: initial;
  }
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills_container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__img {
    width: 1000px;
  }
  .home__description {
    color: var(--first-color-darker);

  }
  .skills_container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .services__container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }
  .services__icon {
    font-size: 2rem;
  }
  .services__content {
    padding: 3rem 3rem 3rem 4.5rem;
  }
  .footer__bg {
    padding: 3rem 0 3rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .experience_time{
    padding-right: 1rem;
    align-items: center;
    margin-left: 29%;
    margin-right: 2%;
  }
}
